<form [formGroup]="connexionForm" class="connecForm" (ngSubmit)="signIn()">
    <mat-form-field class="form-group">
        <input matInput placeholder="Username" id="username" class="form-control" formControlName="username">
    </mat-form-field>
    <mat-form-field class="form-group">
        <input matInput placeholder="Password" id="password" class="form-control" formControlName="password" [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon></button>
    </mat-form-field>
    <mat-card-actions>
        <button mat-raised-button color="primary" type="submit">Connexion</button>
    </mat-card-actions>
</form>
