<mat-card class="editPost">
    <mat-card-header>
        <mat-card-title>Edition topic</mat-card-title>
    </mat-card-header>
    <mat-card-content>   
        <form [formGroup]="postForm" class="postForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="form-group">
                <input matInput [value]="topic.title" id="title" class="form-control" formControlName="title">
            </mat-form-field>
            <mat-form-field class="form-group">
                <textarea rows="10" [value]="topic.content" matInput id="content" class="form-control" formControlName="content"></textarea>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Envoyer</button>
            </mat-card-actions>
        </form>
    </mat-card-content>     
</mat-card>
