.addReply{
    font-size: 48px;
    position: absolute;
    bottom: 24px;
    right: 24px;
}
.sendReply{
    min-width: 250px;
    max-width: 500px;
    max-height: 150px;
    position: absolute;
    bottom:50px;
    right: 50px;

    .form-group {
        width: 100%;
    }
}
.header-image{
    background-size: cover;
}

.detailCard{
    margin: auto;
    margin-top: 20px;
    max-width: 1300px;

    mat-card-footer{
        display: flex;
        justify-content: space-between;
    }
}