.dasboard{
    width: 100%;
    height: 100%;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.infoUser{
    margin: auto;
    margin-top: 20px;
    max-width: 500px;
    min-width: 250px;
    
    mat-list-item{
        margin: auto;
    }
}
.messageView{
    margin: auto;
    margin-top: 20px;
    max-width: 1300px;
    min-width: 250px;
    max-height: 450px;

    .messageCardLeft{
        background-color: #c8f2ff;
        width: 75%;
        text-align: left;
    }

    .messageCardRight{
        background-color: #dbffc8;
        margin: auto;
        margin-right: 0;
        width: 75%;
        text-align: right;
        mat-card-header{
            justify-content: flex-end;
        }
    }
}